<!DOCTYPE html>
<head>
    <title>Raphael Boilerplate</title>

    <link rel="stylesheet" href="main.css" type="text/css" />

    <!-- global use -->
    <script type="text/javascript" src="libs/raphael.js"></script>
    <script type="text/javascript" src="libs/jquery-2.0.1.js"></script>
    <script type="text/javascript" src="libs/underscore.js"></script>
    <script type="text/javascript" src="libs/backbone.js"></script>

    <script type="text/javascript" src="../backbone.raphael.js"></script>

    <script type="text/javascript" src="mixedViewsSample.js"></script>


</head>
<body>

<div id="wrap">
    <div id="left_col">
        <!-- container for svg/vml root element -->
        <div id="container"></div>
    </div>
    <div id="right_col">

    </div>
</div>


<script type="text/template" id="circleHtmlView">
    <label for="x"> cx: <input id="x" class="rInput" value="<%- x %>" type="number"></label>
    <label for="y"> cy: <input id="y" class="rInput" value="<%- y %>" type="number"></label>
    <label for="radio"> radio: <input id="radio" class="rInput" value="<%- radio %>" type="number"></label>
    <label for="label"> label: <input id="label" class="rInput" value="<%- label %>" type="text"></label>
    <label for="color"> color: <input id="color" class="rInput" value="<%- color %>" type="color"></label>
</script>

</body>
</html>