body{
    background-color: grey;
}

#wrap {
    width:800px;
    margin:0 auto;
}

#left_col {
    float:left;
    width:400px;
}

#right_col {
    float:right;
    width:400px;
}

label{
    display: block;
}